<mbsc-eventcalendar [view]="view" [headerTemplate]="customTemplate" [data]="myEvents" [options]="eventSettings"
	[theme]="this.eventSettings.theme || 'ios'" [themeVariant]="this.eventSettings.themeVariant || 'light'"
	[resources]="myResources" [invalid]="invalid" class="md-custom-header-filtering">
	<ng-template #customTemplate>
		<mbsc-calendar-nav class="md-header-filter-nav"></mbsc-calendar-nav>
		<div class="md-header-filter-controls">
			<mbsc-segmented-group select="single" [(ngModel)]="selectedThemeVariant" (change)="filter($event)">
				<mbsc-segmented [value]=1>
					<span class="md-header-filter-name md-header-filter-name-1">Dark</span>
				</mbsc-segmented>
				<mbsc-segmented [value]=2>
					<span class="md-header-filter-name md-header-filter-name-2">Light</span>
				</mbsc-segmented>
			</mbsc-segmented-group>
		</div>
		<div class="md-header-filter-controls">
			<mbsc-segmented-group select="single" [(ngModel)]="selectedTheme" (change)="filter($event)">
				<mbsc-segmented [value]=1>
					<span class="md-header-filter-name md-header-filter-name-1">iOS</span>
				</mbsc-segmented>
				<mbsc-segmented [value]=2>
					<span class="md-header-filter-name md-header-filter-name-2">Win</span>
				</mbsc-segmented>
				<mbsc-segmented [value]=3>
					<span class="md-header-filter-name md-header-filter-name-2">Material</span>
				</mbsc-segmented>
			</mbsc-segmented-group>
		</div>
		<mbsc-calendar-prev class="md-header-filter-prev"></mbsc-calendar-prev>
		<mbsc-calendar-today class="md-header-filter-today"></mbsc-calendar-today>
		<mbsc-calendar-next class="md-header-filter-next"></mbsc-calendar-next>
	</ng-template>
</mbsc-eventcalendar>

<ng-template #myEvent let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{this.eventForm.value.title}}</h4>
	</div>
	<div class="modal-body">
		<form [formGroup]="eventForm">
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-12">
						<label for="title">Title<span class="mandatory"> *</span></label>
						<input type="text" class="form-control form__input" formControlName="title" id="title"
							[class.is-invalid]="(eventForm.get('title')?.touched || eventForm.get('title')?.dirty) && eventForm.get('title')?.invalid"
							placeholder="Title" required>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="summary">Description<span class="mandatory"> *</span></label>
							<input type="text" class="form-control form__input" formControlName="summary" id="summary"
								[class.is-invalid]="(eventForm.get('summary')?.touched || eventForm.get('summary')?.dirty) && eventForm.get('summary')?.invalid"
								placeholder="Enter Description" required>
						</div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="form-group col-sm-6">
						<label for="start">Start Date<span class="mandatory"> *</span></label>
						<input type="datetime-local" class="form-control form__input" formControlName="start" [max]="getToday()"
							id="start"
							[class.is-invalid]="(eventForm.get('start')?.touched || eventForm.get('start')?.dirty) && eventForm.get('start')?.invalid"
							useValueAsDate>
					</div>
					<div class="col-sm-6">
						<div class="form-group form-group">
							<label for="end">End Date<span class="mandatory"> *</span></label>
							<input type="datetime-local" class="form-control form__input"
								[class.is-invalid]="(eventForm.get('end')?.touched || eventForm.get('end')?.dirty) && eventForm.get('end')?.invalid"
								formControlName="end" id="end" useValueAsDate />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-12">
						<div class="form-check-inline text-danger mt-2">
							<label *ngIf="eventForm.errors">{{ eventForm.errors['dates'] }}</label>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="modalService.hide()">Cancel</button>
			<button type="button" class="btn btn-primary" (click)="submitForm()">Save changes</button>
		</div>
	</div>
</ng-template>